*{
    box-sizing: border-box; 
}

body{
    font-family: 'Exo';
    background-color: #444444;
    max-width: 1920px;
    margin : 0;
}

.body_grid{
    display: grid;
    grid-template-columns: 75px repeat(12, 1fr) 75px;
    grid-template-rows: auto 3fr 3fr 1fr;
}

header{
    grid-column: 1/15;
    grid-row : 1;
    display: grid;
    background-color: #000000;
    grid-template-columns: 1fr 40% 2% 1fr 1fr 1fr 1fr 1fr 1fr 50px;
    grid-template-rows: 10px 1fr 10px ;
    position: fixed;
}

.menu_logo{
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
}

.menu_logo_link{
    grid-column: 2;
    grid-row: 2;
    width: 60%;
}

.menu_accueil{
    font-size: 1.5em;
    grid-column: 4;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
}

.menu_projet{
    font-size: 1.5em;
    grid-column: 5;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
}

.menu_asbl{
    font-size: 1.5em;
    grid-column: 6;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
}

.menu_agenda{
    font-size:1.5em;
    grid-column: 7;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
}

.menu_news{
    font-size: 1.5em;
    grid-column: 8;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
}

.menu_galerie{
    font-size: 1.5em;
    grid-column: 9;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
}

.menu_link:link, .menu_link:visited{
    color : #ffffff ;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 600;
}

.menu_link:hover, .menu_link:active{
    background-color: #444444;
    padding: 4px 10px;    
}

.slogan{
    background-image: url("../image/landscape.png");
    background-size: 150%;
    background-position: center top;
    grid-column: 1/15;
    grid-row: 2;
    display : grid;
    height: 600px;
    grid-template : 200px auto  / 1fr 1fr 1fr ; 
}

.slogan_titre{
    font-size: 40pt;
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    color : white ;
    font-weight: 600;
    text-shadow: 5px 2px black;
}

.intro{
    display: grid;
    grid-template: 1% 5% 15% 45% 5% 5% 5% / 1.5fr 6fr 1.5fr; 
    background-color: #444444;
}

.intro_slogan{
    font-size : 30pt;
    grid-column: 2;
    grid-row : 1;
    justify-self: center;
    color: #ffffff;
    text-transform: uppercase;
}

.intro_texte{
    margin : 30px;
    font-size : 14pt;
    color: #ffffff;
    grid-column: 2;
    grid-row : 4;
    justify-self: center;
    text-align : center;
}

q{
    grid-column: 2;
    grid-row: 6;
    font-size: 24pt;
    text-align: center;
    color: #ffffff;
}

.agenda_container{
    display: grid;
    background-color: #ffffff;
    grid-template-columns: 3% 1fr 1fr 1fr 3%;
    grid-column-gap: 30px;
    grid-template-rows: 5% 15% 5% 50% 5%;
    height: 300px;
}

#agenda_link{
    text-transform: uppercase;
    font-size : 20pt;
    font-weight: 600;
    grid-row: 2;
    grid-column: 3;
    justify-self: center;
    border-radius: 15px;
}

#agenda_link:link, #agenda_link:visited{
    color : #66ed5d;
    text-decoration: none;
}

#agenda_link:hover, #agenda_link:active{
    padding: 4px 10px;
    border : solid black;
}

#agenda_event1{
    grid-column: 2;
    grid-row: 4;
    background-color: lightblue;    
}

#agenda_event2{
    grid-column: 3;
    grid-row: 4;
    background-color: lightblue;    
}

#agenda_event3{
    grid-column: 4;
    grid-row: 4;
    background-color: lightblue;    
}

.agenda_event_date{
    font-size: 16pt;
}
